.form__edit__container {
  max-width: 500px;
  margin: 110px auto;
  background-color: rgb(204, 173, 37);
  padding: 20px;
  border-radius: 5px;
}

.form__edit input,
label {
  margin: 10px 0;
  padding: 5px 0 5px 5px;
  width: 100%;
  border-radius: 5px;
}

.form__edit label {
  font-weight: 700;
}

.form__select {
  width: 200px;
}
